h1{
    margin: 0;
    padding: 2px;
    text-align: center;
    color: solid green;
}

p{
    color: indigo;
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}
ul{
    list-style-type: none;
    margin-bottom: 0;
    padding: 30px;
    background-color: lightblue;
    overflow: hidden;
    li{
        float: left;
}